<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Flagbit_FeedReader>
			<active>true</active>
			<codePool>community</codePool>
			<version>1.1.2</version>
		</Flagbit_FeedReader>
	</modules>
	
	<global>
		<blocks>
			<feedreader>
				<class>Flagbit_FeedReader_Block</class>
			</feedreader>
		</blocks>
		<helpers>
			<feedreader>
				<class>Flagbit_FeedReader_Helper</class>
			</feedreader>
		</helpers>
	</global>
	
	<frontend>
		<layout>
			<updates>
				<feedreader>
					<file>feedreader.xml</file>
				</feedreader>
			</updates>
		</layout>
	</frontend>
	
	<adminhtml>
		<translate>
			<modules>
				<Flagbit_FeedReader>
					<files>
						<default>Flagbit_FeedReader.csv</default>
					</files>
				</Flagbit_FeedReader>
			</modules>
		</translate>
	</adminhtml>
</config>
